:root {
  --primary-color: white;
  --secondary-color-background: #091813;
  --bs-btn-hover-color: var(--bs-white);
  --box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  --border-size: 1px solid var(--primary-color);
  --font-family: "Poppins", sans-serif;
  --bs-btn-hover-border-color: var(--bs-dark);
}
body {
  background: var(--secondary-color-background);
}
h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1,
h2,
h3,
p {
  color: var(--primary-color);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
hr {
  color: var(--primary-color);
}
.hero {
  background-image: url("/image/image6.jpeg");
  padding: 160px 20px;
}
.hero p,
.p-section {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  opacity: 0.8;
  margin: 15px;
}
.hero h2 {
  font-family: var(--font-family);
  font-size: 24px;
  color: var(--primary-color);
  font-weight: normal;
  line-height: 2;
  opacity: 0.8;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  color: var(--bs-btn-hover-color);
}
.pr-name {
  font-size: 56px;
}
.btn-branding-outline {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color-background);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 30px 60px 0;
}
.icon-bar a{
  color: var(--primary-color);
  font-size: 40px;
}
.icon-bar a:hover {
  font-size: 48px;
}
.contact-pl {
  padding: 160px 60px 0;
  background-image: url("/image/image3.webp");
  height: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-section {
  background: var(--primary-color);
}

.about-section h1 {
  color: var(--secondary-color-background);
  font-size: 64px;
  line-height: 56px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.about-section h2 {
  color: var(--secondary-color-background);
  font-size: 18px;
  font-family: var(--font-family);
}
.about-section p {
  color: var(--secondary-color-background);
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.8;
}
.about-section-content {
  padding: 80px 20px;
  margin: 30px;
}
.about-section .about-image-wrapped {
  background: var(--secondary-color-background);
}
.btn-branding-outline-about {
  background-color: var(--secondary-color-background);
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline-about:hover {
  color: var(--bs-dark);
}
.contact-porfolio-link-wrapper:hover {
  color: var(--bs-dark);
}
.btn-branding-about {
  color: var(--secondary-color-background);
  border-radius: 4px;
  border-color: var(--secondary-color-background);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-about:hover {
  color: var(--bs-dark);
}
.skills-section {
  background: var(--secondary-color-background);
  border-radius: 0 0 8px 8px;
  color: var(--primary-color);
}
section {
  padding: 40px;
}
.education h2 {
  color: var(--secondary-color-background);
  margin-top: auto;
  font-family: var(--font-family);
  font-size: 42px;
  margin-top: 40px;
}
.education-icon {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 32px;
  padding: 15px 30px;
}
.content-container {
  padding: 160px 20px;
}
.content-container h2 {
  font-size: 48px;
  line-height: 80px;
}
.content-container h3 {
  font-size: 24px;
  font-weight: normal;
  color: var(--primary-color);
  font-family: var(--font-family);
  opacity: 0.7;
  line-height: 2;
}
.content-container p {
  font-size: 14px;
  line-height: 1.5;
}
.contact-container {
    background-image: url("/image/co.webp");
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 0;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation-cv-link {
 display: flex;
  margin-top: 40px;
  justify-content:flex-end;
}
.cv-link {
   background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.cv-link:hover {
   color: var(--bs-btn-hover-color);
}
.email-link {
  display: flex;
  justify-content:flex-end;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
}
.email-link:hover {
  font-size: 32px;
  text-decoration: underline;
  color: var(--primary-color);
}
footer {
  color: var(--primary-color);
}
strong {
  color: var(--primary-color);
}
.logo {
  font-weight: bolder;
  color:var(--primary-color);
}
nav {
  padding: 20px 0;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
   font-weight: bold;
   font-size: 28px;
}
nav ul {
 padding: 0;
 margin: 0;
}
nav li {
  display: inline-block;
  list-style: none;
 line-height: 42px;
 margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
 
a.active,
nav a:hover {
   color:aquamarine;
  text-decoration: underline;
}
@media (max-width: 800px) {
  .home-image {
    display: none;
  }
  h1 {
    font-size: 48px;
    line-height: 2;
  }
  h2 {
    font-size: 32px;
  }
  h2,
  h3,
  p {
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .primary-link {
    display: flex;
    justify-content: center;
  }
  .about-image-wrapped {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  .about-section p {
    text-align: center;
    padding: 0;
  }
  .btn-branding-about,
  .btn-branding-outline-about {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
  }
  .logo {
    font-size: 22px;
  }
}
